body {
    background-color:black;
    color:antiquewhite;
font-family: 'Cormorant Garamond', serif;
position: relative;
}
.container {

    position: absolute;
    display:inline-flex;
    flex-direction: column;
 /*   border: 1px solid white;*/
    width: 20%;
    left: 40%;
    
   align-items: center;
   height:40rem;
   justify-content: center;



   
    
    
}
.container * {
width:100%;





}
    

img{
    width: 100%;
    border: 0.4rem solid antiquewhite;
    
    
}
h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    /*border: 1px dashed blue;*/
    margin: 0;
     
}
p {
    /*border:1px dashed blue;*/
    text-align: center;
    color:darkred;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 2rem;
    margin:0;


}
@media (max-width:770px) {
    h1 {
        font-size:1.2rem;
    }
    p {
        font-size:1.2rem;
    }
}
@media (max-width: 480px) {
    h1{
        font-size:0.8rem;
    }
    p {
        font-size:0.8rem;
    }

}